body {
    background-color: rgb(196, 185, 185);
}

.header-styling {
    color: #742101;
}

.about {
    text-transform: uppercase;
}

.diary {
    font-family: arial;
    color: #032a4b
}

a {
    color: rgb(38, 63, 38);
}